.Dictionary_child {
  display: flex;
  justify-content: center;
}

.history_box {
  display: flex;
  text-align: center;
  align-items: center;
}
.popup_message {
  position: relative;
  transform: translate(50%, -300%);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  width: 50%;
  bottom: 25px;
}

.popup_message p {
  margin-bottom: 10px;
}

.popup_message p span {
  color: rgb(5, 55, 71);
  cursor: pointer;
  text-transform: capitalize;
}

.popup_message p span:hover {
  color: blue;
}

.blur {
  backdrop-filter: blur(4px);
}

.popup_message {
}

#hero_pronunciation{
  position: fixed;
  z-index: 2;
}

#hero_definition{
position: relative;
top: 30px;
z-index: 0;
}

#dictionary_pronunciation{
  position: fixed;
  z-index: 2;
}

#dictionary_definition{
  position: relative;
top: 30px;
z-index: 0;
}

/* media queries */
@media only screen and (min-width: 810px) {
  #dictionary_childcontent {
    display: flex;
    width: 24.5rem;
    gap: 0 rem;
  }
  #dictionary_content {
    margin-bottom: 15rem;
  }

  #hero_content {
    margin-bottom: 15rem;
  }
}

@media only screen and (min-width: 601px) {
  #dictionary_content {
    transition: 0.5s;
  }

  #hero_content {
    transition: 0.5s;
  }
}

@media only screen and (max-width: 600px) {
  #dictionary_content {
    margin-bottom: 15rem;
    transition: 0.5s;
  }

  #hero_content {
    margin-bottom: 10rem;
    transition: 0.5s;
  }
}

@media only screen and (min-width: 551px) {
  #hero_content #hero_text h1 {
    transition: 0.5s;
  }

  #hero_content #hero_text h2 {
    transition: 0.5s;
  }

  #hero_content #hero_text a {
    transition: 0.5s;
  }
}

@media only screen and (max-width: 550px) {
  #hero_content #hero_text h1 {
    font-size: 250%;
    transition: 0.5s;
  }

  #hero_content #hero_text h2 {
    font-size: 180%;
    transition: 0.5s;
  }

  #hero_content #hero_text a {
    font-size: 120%;
    transition: 0.5s;
  }

  #feature_word{
    font-size: 160%;
    transition: 0.5s;
    margin-left: 4%;
  }

  #dictionary_hero{
    width: 92%;
  }
}

@media only screen and (max-width: 461px) {
  #hero_content #hero_text h1 {
    transition: 0.5s;
  }

  #hero_content #hero_text h2 {
    transition: 0.5s;
  }

  #hero_content #hero_text a {
    transition: 0.5s;
  }


}

@media only screen and (max-width: 460px) {
  #hero_content #hero_text h1 {
    font-size: 210%;
    transition: 0.5s;
  }

  #hero_content #hero_text h2 {
    font-size: 150%;
    transition: 0.5s;
  }

  #hero_content #hero_text a {
    font-size: 100%;
    transition: 0.5s;
  }

  #hero_content {
    margin-bottom: 15rem;
    transition: 0.5s;
  }

  #feature_word{
    font-size: 150%;
    transition: 0.5s;
    margin-left: 6%;
  }

  #dictionary_hero{
    width: 88%;
  }
}

@media only screen and (max-width: 428px) {
  #dictionary_childcontent {
    width: 90%;
  }

  #dictionary {
    width: 90%;
  }
}

@media only screen and (max-width: 412px) {
  #hero_content #hero_text h1 {
    transition: 0.5s;
  }

  #hero_content #hero_text h2 {
    transition: 0.5s;
  }

  #hero_content #hero_text a {
    transition: 0.5s;
  }

  #dictionary_childcontent {
    width: 24rem;
  }

  .container {
    width: 26rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #dictionary{
    width: 93%;
  }

}

@media only screen and (max-width: 400px) {
  #hero_content #hero_text h1 {
    padding-top: 1rem;
    font-size: 200%;
    transition: 0.5s;
  }

  #hero_content #hero_text h2 {
    font-size: 150%;
    margin-bottom: 1rem;
    transition: 0.5s;
  }

  #hero_content #hero_text a {
    font-size: 120%;
    transition: 0.5s;
  }

  #feature_word{
    font-size: 150%;
    transition: 0.5s;
    margin-left: 7%;
  }

  #dictionary_hero{
    width: 86%;
  }
}

@media only screen and (max-width: 390px) {
  .container {
    width: 25rem;
  }

  #dictionary_childcontent {
    display: flex;
    width: 90%;
    gap: 0 rem;
  }

  #dictionary {
    width: 90%;
  }
}

@media only screen and (max-width: 375px) {
  #hero_content {
    margin-bottom: 10rem;
  }

  #hero_content #hero_text h1 {
    font-size: 180%;
    margin-bottom: 1rem;
    transition: 0.5s;
  }

  #hero_content #hero_text h2 {
    font-size: 130%;
    margin-bottom: 1rem;
    transition: 0.5s;
  }

  #hero_content #hero_text a {
    font-size: 100%;
    transition: 0.5s;
  }

  #feature_word{
    font-size: 130%;
  }
  .container {
    width: 24rem;
  }

  #dictionary_content {
    margin-bottom: 10rem;
  }

  #dictionary_childcontent {
    display: flex;
    width: 22rem;
    gap: 0rem;
  }
  #dictionary {
    width: 22rem;
  }
}

@media only screen and (max-width: 360px) {
  #hero_content #hero_text h1 {
    font-size: 180%;
    margin-bottom: 1rem;
    transition: 0.5s;
  }

  #hero_content #hero_text h2 {
    font-size: 120%;
    margin-bottom: 1rem;
    transition: 0.5s;
  }

  #hero_content #hero_text a {
    font-size: 100%;
    transition: 0.5s;
  }

  .container {
    width: 23rem;
  }

  .childContainer {
    margin: 0;
  }

  #dictionary_childcontent {
    display: flex;
    width: 21rem;
    gap: 0 rem;
  }

  #dictionary {
    width: 94%;
  }
}

@media only screen and (height: 1280px) {
#dictionary_content{
  margin-bottom: 25%;
}

#hero_content{
  margin-bottom: 25%;
}
}

@media only screen and (max-height: 760px) {

  #dictionary_hero{
    max-height: 26rem;
  }
}


@media only screen and (max-height: 667px) {
  #hero_content #hero_text h1 {
    font-size: 180%;
    padding: 0;
    transition: 0.5s;
  }

  #hero_content #hero_text h2 {
    font-size: 140%;
    margin-bottom: 1rem;
    transition: 0.5s;
  }

  #hero_content #hero_text a {
    font-size: 100%;
    padding: 0.2rem;
    margin-bottom: 0;
    transition: 0.5s;
    text-decoration: none;
  }

  #feature_word{
    font-size: 120%;
    transition: 0.5s;
    margin-left: 7%;
    margin-bottom: 0;
  }
  
  .container{
    margin-top: 0.5rem;
  }
  #dictionary_hero{
    width: 86%;
    padding-top: 0;
    height: 24rem;
  }

  #dictionary_hero h1{
    font-size: 140%; 
    margin-bottom: 0;   
}

#dictionary_hero div div div{ 
  font-size: 90%;
}

}